* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 103px 20px 82px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.itens-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itens {
    padding: 0px 10px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #FDFDFD;
    list-style: none;
}

a:link {
    text-decoration: none;
    color: #FDFDFD;
}

a:visited {
    text-decoration: none;
    color: #FDFDFD;
}

a:hover {
    text-decoration: underline;
    color: #102868;
}

a:active {
    text-decoration: none;
}

.p1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;
    color: #FF4081;
}

.p2 {
    padding: 22px 0px 0px 0px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.section1 {
    padding: 80px 0px 81px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section2 {
    background: #F7F7F7;
}

iframe {
    max-width: 100%;
}

.p3 {
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

.p4 {
    padding: 26px 0px 0px 0px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

#div1 {
    padding: 75px 0px 73px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.hr {
    display: flex;
    justify-content: center;
}

.footer {
    padding: 2px 0px 0px 0px;
    display: flex;
    align-items: center;
    background: #2E948A;
}

.div-logo-footer {
    padding: 53px 0px 53px 128px;
}

.cbc {
    padding: 0px 0px 0px 400px;
    list-style: none;
}

.links-footer {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.div-buttons-footer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-button-prof1 {
    padding: 0px 0px 13px 550px;
}

.button-footer{
    width: 289px;
    height: 51px;
    background: #2E948A;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
}

.texto-button-footer1 {
    padding: 11px 30px 11px 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

.div-button-prof2 {
    padding: 0px 0px 0px 550px;
}

.texto-button-footer2 {
    padding: 11px 30px 11px 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

body footer div div button a:hover {
    text-decoration: none;
}

body footer div div button:hover {
    background: #FFFFFF;
    transition: 10ms;
}

body footer div div button a p:hover {
    color: #2E948A;
}

body footer div div button a:hover {
    text-decoration: none;
}
