* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 103px 20px 82px;
    background: #2E948A;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.itens-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itens {
    padding: 0px 10px;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #FDFDFD;
    list-style: none;
}

a:link {
    text-decoration: none;
    color: #FDFDFD;
}

a:visited {
    text-decoration: none;
    color: #FDFDFD;
}

a:hover {
    text-decoration: underline;
    color: #102868;
}

a:active {
    text-decoration: none;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h3f8p {
    padding: 111px 0px 0px 0px;
}

.w4n19 {
    padding: 12px 0px 0px 0px;
}

.u7c3p {
    padding: 74px 0px 0px 0px;
}

.kkk {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-feature-settings: 'kern' off;
    color: #000000;
}

.kkj {
    font-weight: 500;
    font-size: 26px;
    line-height: 30px;
    font-feature-settings: 'kern' off;
    color: #419488;
}

.p3m4nt5 {
    padding: 64px 0px 0px 0px;
}

.cursos {
    background: #F7F7F7;
}

.div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px 119px 0px;
}

.p1 {
    padding: 52px 0px 0px 0px;
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    color: #FF4081;

}

.p2 {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #9D9D9D;
}

.botoes {
    margin-bottom: 0px 0px 98px 0px;
    width: 233px;
    height: 51px;
    background: #FF4081;
    border-radius: 62px;
}

.p3 {
    padding: 11px 8px 11px 8px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.ppq6x8 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.p04n7a {
    padding: 79px 0px 101px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l9c6ee {
    font-weight: 500;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FF4081;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #2E948A;
}

.div-logo-footer {
    padding: 53px 0px 53px 0px;
}

.cbc {
    list-style: none;
}

.ul-cbc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links-footer {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    list-style: none;
}

.div-buttons-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-button-prof1 {
    padding-bottom: 20px;
}

.button-footer{
    width: 289px;
    height: 51px;
    background: #2E948A;
    box-sizing: border-box;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
}

.texto-button-footer {
    padding: 11px 30px 11px 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

footer div li a:hover {
    text-decoration: underline;
    color: #102868;
    transition: 10ms;
}

footer div div button:hover {
    background: #FFFFFF;
    transition: 10ms;
}

footer div div button a p:hover {
    color: #2E948A;
}

footer div div button a:hover {
    text-decoration: none;
}